<input type="text" [(ngModel)]="textoFiltro"/>
<div>
    @for (mensaje of listaMensajes | filter: textoFiltro; track mensaje.id) {
        <div>
            <p>{{ mensaje.texto | truncate: 20 }}</p>
            <p>{{ mensaje.autor.nombre | uppercase  }}</p>
            <p>{{ mensaje.fecha | date:'dd/MM/yyyy'  }}</p>
            @if (mensaje.autor.id == usuarioConectado.id) {
                <button (click)="borrar(mensaje.id)">Borrar</button>
            }
            <button *appCheckPermisos="'ADMIN'">Ocultar</button>
        </div>
        ===========================
        <br>
    } @empty {
        No hay mensajes
    }
</div>
<div>
    Nuevo mensaje:
    <input type="text" [(ngModel)]="nuevoTexto"/>
    <button (click)="enviar()" [disabled]="!nuevoTexto">Enviar</button>
</div>



