<input type="text" [(ngModel)]="textoFiltro"/>
<div>
    @for (mensaje of listaMensajes | filter: textoFiltro; track mensaje.id) {
        <!--<app-mensaje [mensaje]="mensaje" [usuarioConectado]="usuarioConectado" (usuarioBorradoEnHijo)="borrarEnPadre(mensaje.id)" />-->
        <app-mensaje [mensaje]="mensaje" (usuarioBorradoEnHijo)="borrarEnPadre($event)" />
        <br>
    } @empty {
        No hay mensajes
    }
</div>
<div>
    Nuevo mensaje:
    <input type="text" [(ngModel)]="nuevoTexto"/>
    <button (click)="enviar()" [disabled]="!nuevoTexto">Enviar</button>
</div>
